.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
Tests/
Data/
HPC_Files/Outs/
.csv
.DS_Store
*.nc*
*.zip*
projects/06_TestOutputs/*.csv
projects/07_TestOutputForFRESC/*.zip
projects/07_TestOutputForFRESC/full_netCDFs.zip
./projects/07_TestOutputForFRESC/trimmed_netCDFs.zip
Main/Data/soilsDB/